.one{
    position:absolute;
    margin-left:90px;
    top:40px;
    font-size:x-large
    }
    .two{
        position:absolute;
        margin-left:90px;
        top:40px;
        font-size:large;
    }
    .three{
        
        margin-left:90%;
    }
     
